{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section btn-3d">
            <div class="row">
                <div class="col-md-2">
                    <img class="rounded-circle article-img" src="{{ url_for("static", filename="dpics/" + post.author.image_file) }}">
                </div>
                <div class="col-md-9">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2 team" >{{ post.author.username }}</a>
                            <small class="text-muted">{{ post.post_date.strftime("%Y-%m-%d") }}</small>
                        </div>
                        <h2><a class="article-title" href="{{ url_for("post", post_id=post.id) }}">{{ post.title }}</a></h2>
                        <p class="article-content" style="word-wrap: break-word;">{{ post.content }}</p>
                    </div>
                </div>
            </div>
        </article> 
    {% endfor %}
    {% for page_num in posts.iter_pages() %}
        {% if  %}
            <a
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock content %}
