{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="row">
            <div class="col-md-2">
                <img class="rounded-circle article-img" src="{{ url_for("static", filename="dpics/" + post.author.image_file) }}">
            </div>
            <div class="col-md-9">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2 team" >{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.post_date.strftime("%Y-%m-%d") }}</small>
                        {% if post.author == current_user %}
                            <div>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1 btn-3d" href="{{ url_for("update_post", post_id=post.id) }}" >Update Post</a>
                                <button type="button" class="btn btn-danger btn-sm m-1 btn-3d" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Post</button>
                            </div>
                        {%endif%}
                    </div>
                    <h2 class="article-title" >{{ post.title }}</h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </div>
        </div>
    </article>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-3d" data-bs-dismiss="modal">No</button>
              <form action="{{ url_for("delete_post", post_id=post.id) }}" method="POST">
                <input class="btn btn-danger btn-3d" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
